<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
    <div class="header-container">
        <div class="header-left">
            <h1><%= link_to 'RandomRecipe', "#", class: "app-title" %></h1>
        </div>
        <div class="header-right">
            <ul>
                <li><%= link_to 'nickname', "#", class: "nickname" %></li>
                <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <!--<li><%= link_to 'ログアウト', "#", class: "logout" %></li>-->
            </ul>
        </div>
    </div>
</header>